<!doctype html>
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ page.url }}{% endif %}</title>
{% capture importname %}{{ site.baseprefix }}/{{ page.path | remove:'/index.html' }}{% endcapture %}
{% capture githuburl %}{{ site.githubbaseurl }}/{{ page.path | remove:'/index.html' }}{% endcapture %}
<meta name="go-import" content="{{ importname }} git {{ githuburl }}">
<meta name="go-source" content="{{ importname }} _   {{ githuburl }}/tree/master{/dir} {{ githuburl }}/blob/master{/dir}/{file}#L{line}">
<p>
  Import: <code><strong>import</strong>&nbsp;"{{ importname }}"</code><br>
  Source: <a href="{{ githuburl }}">{{ githuburl }}</a><br>
  API Documentation: <a href="https://godoc.org/{{ importname }}">https://godoc.org/{{ importname }}</a><br>
</p>
{{ content }}
